@import './partials/base';
@import './partials/colors';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   outline: 1px solid black;
   transition: .3s;
}
body {
   background: rgb(205, 202, 202);
}
   